IndentWidth: 4
AlignAfterOpenBracket: Align
AlignOperands : AlignAfterOperator
AllowShortBlocksOnASingleLine : Never
AllowShortEnumsOnASingleLine: true
ColumnLimit: 0
IndentCaseLabels: true
UseTab: Never
AlignConsecutiveDeclarations: Consecutive
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 4
BreakAfterReturnType: All
BreakFunctionDefinitionParameters: false
BreakBinaryOperations: RespectPrecedence
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Custom
DerivePointerAlignment: true
InsertBraces: true
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    AfterCaseLabel: false
    AfterNamespace: false
    AfterExternBlock: false
    AfterUnion: false
    BeforeWhile: false
    AfterClass: true
    AfterFunction: true
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
